<p><%= link_to "<< Back to modlists overview", modlists_path %>

<h1><%= @modlist.title %></h1>

<p>
  <% if @modlist.published? %>
    <small title="<%= @modlist.published_at %>">
      Published <%= time_ago_in_words @modlist.published_at %> ago
    </small>
  <% else %>
    <small title="<%= @modlist.created_at %>">
      Created by <%= @modlist.creator.display_name %>, <%= time_ago_in_words @modlist.created_at %> ago
    </small>
  <% end %>
</p>

<% if policy(@modlist).update? %>
  <hr />
  <%= form_with model: @modlist do |f| %>
    <p>
      <%= f.text_field :title, placeholder: @modlist.title %>
      <%= f.submit "Update title" %>
    </p>
  <% end %>
  <hr />
  <h3>Add mods from HTML file</h3>
  <%= form_with method: "PUT" do |f| %>
    <p>
      <%= f.file_field :modlist_html %>
    </p>
    <%= f.submit "Import" %>
  <% end %>
  <hr />
<% end %>

<% if @modlist.parent.present? %>
  <p>
    <%= link_to "Compare with #{@modlist.parent.title}", diff_modlist_path(@modlist, @modlist.parent) %>
  </p>
<% end %>

<% if policy(@modlist).update? %>
  <%= form_with method: "PUT" do |f| %>
    <p>
      <%= f.text_field :workshop_id, placeholder: "Workshop ID" %>
      <%= f.submit "Add mod" %>
    </p>
  <% end %>
<% end %>

<% if policy(@modlist).publish? %>
  <%= button_to "Publish", publish_modlist_path(@modlist), method: :post %>
<% end %>

<% if policy(@modlist).destroy? %>
    <%= button_to "Delete modlist", @modlist, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>

<div
    class="modlist-mods"
    data-controller="modlist"
    data-modlist-id-value="<%= @modlist.id %>">
  <% for mod in @mods %>
    <%= render "mod", mod: mod, editable: true %>
  <% end %>
</div>
