<%= tag.div class: "squad",
    id: dom_id(squad),
    style: "border-color: ##{squad.color};" do %>
  <strong class="name"><%= squad.name %></strong>

  <ul class="slots">
    <% for slot in squad.slots %>
      <li class="slot">
        <div class="role"><%= slot.name %></div>
        <div class="player" style="color: #<%= slot.user&.color || "404040" %>">
          <%= slot.user&.display_name || "empty" %>
        </div>
      </li>
    <% end %>
  </ul>

  <% case squad.children.count %>
  <% when 0 %>
  <% when 1 %>
    <%= render squad.children %>
  <% else %>
    <div class="squad-list">
      <%= render squad.children %>
    </div>
  <% end %>
<% end %>
