<div class="squad" id="<%= dom_id squad %>">
  <strong class="name"><%= squad.name %></strong>

  <ul class="slots">
    <% for slot in squad.slots %>
      <li class="slot">
        <div class="role"><%= slot.name %></div>
        <div class="player"><%= slot.user&.display_name %></div>
      </li>
    <% end %>
  </ul>

  <% if squad.children.any? %>
    <div class="squad-list">
      <%= render squad.children %>
    </div>
  <% end %>
</div>
