<h1><%= @mission.title %></h1>

<% if policy(@mission).edit? %>
  <%= link_to "Edit mission", edit_mission_path(@mission) %>
  <br /><br />
<% end %>

<p>
  <%= @mission.description %>
</p>

<%= turbo_stream_from @mission, :squads %>

<div class="squad-list">
  <%= render @mission.root_squads %>
</div>
