<!DOCTYPE html>
<html>
  <head>
    <title>69th Idiot Battalion</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.9/dist/themes/dark.css" />
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="header-inner">
        <a href="/" class="title-container">
          <div class="title">69th Idiot Battalion</div>
          <div class="subtitle">SIT NOMINE DIGNA</div>
        </a>

        <nav>
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Missions", missions_path %></li>
            <li><%= link_to "Mods", modlists_path %></li>

            <li class="separator"></li>

            <% if user_signed_in? %>
              <li class="account">
                <%= link_to "/" do %>
                  <%= image_tag current_user.discord_avatar_url %>
                  <%= tag.span current_user.display_name,
                      class: "username",
                      style: "color: ##{current_user.color}" %>
                <% end %>

                <ul class="account-menu">
                  <% if current_user.can? :manage_server %>
                    <li>
                      <%= link_to "Server", manage_server_path %>
                    </li>
                  <% end %>

                  <% if current_user.admin? %>
                    <li>
                      <%= link_to "Admin", admin_permissions_path %>
                    </li>
                  <% end %>

                  <li class="sign-out">
                    <%= link_to "Sign out", sign_out_path, data: { turbo_method: :delete } %>
                  </li>
                </ul>
              </li>
            <% else %>
              <% if Rails.env.production? or Rails.application.credentials.discord %>
                <li class="login">
                  <%= button_to "Sign in with Discord",
                    user_discord_omniauth_authorize_path,
                    data: { turbo: false } %>
                </li>
              <% end %>

              <% if Rails.env.development? %>
                <li class="login-dev">
                  <%= button_to "Sign in with Developer",
                    user_developer_omniauth_authorize_path,
                    data: { turbo: false } %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main class="controller-<%= controller_path.gsub(/_/, "-").gsub(/\//, "--") %>">
      <%= yield %>
    </main>

    <footer></footer>
  </body>
</html>
